<div id="businessplay">
    <div class="header"><span>业务演示</span><a href="#" class="toolback back"><div class="divback"></div></a></div>
    <div class="content scroll">
        <div class="myul">
            <ul class="arrowlist rounded">
            {#if $T.data.length}
                {#foreach $T.data as data}
	            <li class="nobackimage" myId="{$T.data.id}">
	                <div class="spanTitle fontbold longContent" style="width:70%">{$T.data.tit}</div>
	            	<a style="float:right; padding: 0 10px 0 0;" onclick="Video.playVideo('{$T.data.url}');"><span class="submit">播放</span></a>
	            </li>
	            {#/for}
	        {#else}
                <li class="nobackimage"><a>没有可以演示业务</a></li>
            {#/if}
            </ul>
        </div>
    </div>
</div>