<div id="customertest">
    <div class="header"><span>客户体验</span><a href="#" class="toolback back"><div class="divback"></div></a><a href="#" class="toolother" onclick="editCustomerTest(this)"><div class="divedit"></div></a></div>
    <div class="content scroll">
        <div class="calendarEdit">
        	<div class="hd" style="padding: 0;">
            	<ul id="customertestList" class="arrowlist rounded noa">
            	</ul>
            </div>
            <div class="cl hide edit">
         		<a onclick="saveTest()"><span class="sub">保存修改</span></a>
            	<a onclick="Navigation('customertestList')"><span class="save">返回</span></a>
			</div>
        </div>
    </div>
</div>