<div id="groupdetails">
    <div class="header"><span>{$T.data.CustomerInfo.groupName}</span><a href="#" class="toolback back">&nbsp;</a></div>
    <div class="content scroll">
        <div class="accordion">
            <div class="tit" onclick="showNextContent(this)"><div class="bookimg open"></div>基本信息</div>
            <div>
                <ul class="arrowlist allshadow">
	                <li class="nobackimage">集团名称：<span class="rightpink pink">{$T.data.CustomerInfo.groupName}</span></li>
	                <li class="nobackimage">集团编码：<span class="rightpink pink">{$T.data.CustomerInfo.groupNo}</span></li>
	                <li class="nobackimage">移动人员占有率：<span class="rightpink pink">{$T.data.CustomerInfo.membersShare}</span></li>
	                <li class="nobackimage">客户规模：<span class="rightpink pink">{$T.data.CustomerInfo.customerBase}类</span></li>
	                <li class="nobackimage">联系人：<span class="rightpink pink">{$T.data.CustomerInfo.contact}</span></li>
	                <li class="nobackimage">联系人电话：<span class="rightpink pink">{$T.data.CustomerInfo.telphone}</span></li>
                </ul>
            </div>
            <div class="tit" onclick="showNextContent(this)"><div class="bookimg"></div>产品信息</div>
            <div class="hide">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr><th style="width:25%;">产品名称</th><th style="width:35%;">计费号码</th><th style="width:15%;">状态</th><th>操作</th></tr>
                    </thead>
                    <tbody>
                        {#foreach $T.data.ProductInfo as product}
                            <tr>
                                <td>{$T.product.packageName}</td>
                                <td>{$T.product.serviceCode}</td>
                                <td>{$T.product.orderStatus}</td>
                                <td><a onclick="product_load(this,'{$T.product.packageName}','{$T.CustomerInfo.groupNo}')" >办理</a><a href="templates/tpl/productdetail.html" json="com.ai.esp.g3.customer.web.CustomerServiceAction" params="action=getCustomerDetail&staffId={$P.staffId}&groupNo={$T.CustomerInfo.groupNo}&myId={$T.product.packageName}" remote="true">详细</a></td>
                            </tr>
                        {#/for}
                    </tbody>
                </table>
            </div>
            <div class="tit noa" onclick="showNextContent(this)"><div class="bookimg"></div>关键人列表</div>
            <div class="hide noa">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr><th style="width:25%;">姓名</th><th style="width:40%;">职务</th><th>手机号码</th></tr>
                    </thead>
                    <tbody>
                        {#foreach $T.data.KeyPeopleInfo as keyperson}
                            <tr><td>{$T.keyperson.contact}</td><td>{$T.keyperson.position}</td><td>{$T.keyperson.telphone}</td></tr>
                        {#/for}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>