<div id="myproductdetail">
    {#foreach $T.PersonalProductInfo as PersonalProductInfo}
        {#if $T.PersonalProductInfo.uuid == $P.myId}
        <div class="header">
            <span>个人订购产品详细</span><a href="#" class="toolback back"><div class="divback"></div></a></div>
        <div class="content scroll">
             <div class="calendarEdit">
                <div class="hd">
                    <table class="mytable">
                        <tr>
                            <td style="width:40%;">产品名称</td>
                            <td>{$T.PersonalProductInfo.packageName}</td>
                        </tr>
                        <tr>
                            <td style="width:40%;">产品编码</td>
                            <td>{$T.PersonalProductInfo.productNo}</td>
                        </tr>
                        <tr>
                            <td>生效类型</td>
                            <td>{#if $T.PersonalProductInfo.effectType == "-8"}立即生效且月底失效{#elseif $T.PersonalProductInfo.effectType == "1"}当前有效{#elseif $T.PersonalProductInfo.effectType == "2"}下月生效{#else}次日生效{#/if}</td>
                        </tr>
                         <tr>
                            <td>生效日期</td>
                            <td>{$T.PersonalProductInfo.effectDate}</td>
                        </tr>
                        <tr>
                            <td>失效日期</td>
                            <td>{$T.PersonalProductInfo.expirationDate}</td>
                        </tr>
                        <tr>
                            <td>状态</td>
                            <td>正常</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        {#/if}
    {#/for}
</div>