<div id="productMMS">
    <div class="header"><span>集团彩铃</span><a href="#" class="toolback back"><div class="divback"></div></a></div>
    <div class="content scroll">
        <div class="calendarEdit">
            <div class="hd">
                <table>
                    <tr>
                        <td style="width:27%;">集团名称：</td>
                        <td>
                            {$P.groupName}
                        </td>
                    </tr>
                    <tr>
                        <td>计费号码：</td>
                        <td>
                            {$P.servCode}
                        </td>
                    </tr>
                    <tr>
                        <td>手机号码：</td>
                        <td>
                            <input type="tel" id="telMMS" pattern="[0-9]*" maxlength="11" />
                        </td>
                    </tr>
                    <tr>
                        <td>集团统付：</td>
                        <td>
                            <div type="ON" class="iswitch"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>办理类型：</td>
                        <td>
                            <select class="searchSel">
                                <option value="addMMS" selected="selected">添加用户</option>
                                <option value="deleteMMS" >删除用户</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="cl">
                <a onclick="takeBusiness(this,'{$P.groupName}','集团彩铃','{$P.servCode}')"><span class="sub">提交</span></a>
            </div>
        </div>
    </div>
</div>