<div id="productOpera">
    <div class="header"><span>操作列表</span><a href="#" class="toolback back"><div class="divback"></div></a></div>
    <div class="content scroll">
        <div>
            <ul id="productOperaUL" class="arrowlist rounded">
            	{#if $P.packageName != '短信信箱'}
                    <li href="templates/tpl/productOrder.html" json="datas/json/blank.json" func="$('div.dateselect[name=yuyue]').html(Calendar.today)" params="staffId={$P.staffId}&groupNo={$P.groupNo}&groupName={$P.groupName}&packageName={$P.packageName}&servCode={$P.servCode}">
                        <a style="font-size:16px">预约受理</a></li>
                {#/if}
                {#if $T.data[0].resultBody.join(",").indexOf("192000010048") > -1}
                    <li href="templates/tpl/addblacklist.html" remote="true" json="com.ai.esp.g3.businessopt.web.ListServiceAction" params="action=getListDescByServCode&staffId={$P.staffId}&groupNo={$P.groupNo}&groupName={$P.groupName}&packageName={$P.packageName}&servCode={$P.servCode}"><a style="font-size:16px" >黑白名单维护</a></li>
                {#elseif $T.data[0].resultBody.join(",").indexOf("193000500032") > -1 && $T.data[0].resultBody.join(",").indexOf("193000500033") > -1}
                    <li href="templates/tpl/productlist.html" json="datas/json/productWXT.json" params="staffId={$P.staffId}&groupNo={$P.groupNo}&groupName={$P.groupName}&packageName={$P.packageName}&servCode={$P.servCode}&pName=WXT"><a style="font-size:16px" >位讯通</a></li>
                {#/if}
            </ul>
        </div>
    </div>
</div>