<div id="searchsingle">
    <div class="header"><span>我的绩效</span><a href="#" class="toolback back">&nbsp;</a></div>
    <div class="content scroll">
        <div class="myul">
            <div class="searchBgNav">
                <ul class="tabs">
                    <li class="cur" ul="KPI1" onclick="setMM(this)"><b>日指标</b></li>
                    <li ul="KPI2" onclick="setMM(this)"><b>月指标</b></li></ul>
            </div>
            <div class="searchBg" style="text-align:center">
	            <input type="search" class="searchInput nowday" id="textKPI" style="width:200px" />
	            <input type="button" class="searchBtn" value="搜索" onclick="searchKPI()"/>
            </div>
            <ul id="KPI1" class="arrowlist">
            </ul>
            <ul id="KPI2" class="arrowlist hide">
            </ul>
       </div>
    </div>
</div>