<div id="businesstest">
    <div class="header"><span>系统设置</span><a href="#" class="toolback back"><div class="divback"></div></a></div>
    <div class="content scroll">
        <div>
            <ul class="arrowlist rounded">
	            <li href="templates/tpl/searchlist.html" json="datas/json/searchlist.json" func="mainWitch()"><a class="fontbold longContent">功能设置</a></li>
	            <li href="templates/tpl/setpassword.html" json="datas/json/blank.json"><a class="fontbold longContent">修改密码</a></li>
	            <li onclick="updateSys()"><a class="fontbold longContent">系统更新</a></li>
            </ul>
        </div>
    </div>
</div>